# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist-electron
/dist
/data

# dev scripts
/scripts

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# config
config.yml
config-*

.history/
coverage/
